<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
입력한거보다 나이많은 회원
<table>
    <thead>
    <tr>
        <th>username</th>
        <th>customerName</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer:${customers}">
        <td th:text="${customer.username}"></td>
        <td th:text="${customer.customerName}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>